*{padding: 0;margin: 0;text-decoration: none;
font-size:;
} 
body{
    width: 100%;height: 100vh;
    background-color:#B3E5FC ;
    background-image: url('stars1.png');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100% 100%;
overflow: auto;
}
.cyontainer{overflow: auto;width: 100%;height: 100vh;}
 header img{width: 100px;height: 130px;
margin: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
}
#ic{width: 130px;height: 160px;
position: absolute;left:10px ;
}
 header #drk{position: absolute; left: 160px;transition: 0.6s;display: none;}
 header #wit{
    position: absolute;
    left: 160px;
    transition: 0.6s;
    
}
#er{position: absolute;
top: 260px;font-size: 80px;
left: 40px;-webkit-text-stroke:1px #ff00b2;
widows: 800;
letter-spacing: 5px;
width: 80%;
height:250px ;
color: #ffdc00;
font-family: new,monospace;;
animation: n2 6s infinite;

}
#er1{position: absolute;
top: 380px;font-size: 70px;
left: 40px;-webkit-text-stroke:1px #ff00b2;
widows: 800;
letter-spacing: 5px;
width: 80%;
height:250px ;
color: #40fff5;
font-family: cursive;
animation: n1 6s infinite ;
}
 header #drk:hover{
    background: whitesmoke;
    border-radius: 30px;
}
 header ul{position: absolute;right: 30px;}
  header ul li{display: inline-block;
background: #ffbd40;
width: 130px;height: 70px;
margin:10px 10px ;
text-align: center;
padding: 20px 20px;
border-radius: 30px;
transition: 1.0s;
}
 header ul li:hover{background: #2babff;
color: #ffa96a;}
 header ul li a{font-size: 40px;}
@keyframes n1 {0%{color: #ff0034;letter-spacing: 3px;}
    50%{color: #ffdc00;letter-spacing: 2px;}
    60%{color: gold;letter-spacing: 3px;}
    80%{color: red;letter-spacing: 2;}
}
@keyframes n2 {0%{color: #ff0034;letter-spacing: 5px;}
    50%{color:#ffff00;letter-spacing: 6px;}
    60%{color: #00ff2d;letter-spacing: 7px;}
    80%{color: #ff5252;letter-spacing: 6px;}
}
#content {
    width: 280px;height: 300px;
    background:orange;position: absolute;
    left: 70%;top: 160px;overflow: auto;
  border-radius: 30px;
    display: none;uborder: solid 5px #4077ff;
    color: royalblue;
}
#content section ul li{display: inline-block;
    padding: 40px;
    hborder: 5px double #eeff15;
    margin: 10px 10px;transition: 0.7s;
}
#content section ul li:hover{background: black; color: gold;border-radius: 50px;}
#content section ul li a{
    font-size: 40px;
    color: royalblue;
    
}
#content section h3{font-size: 30px;margin-left: 50px;color: #ffffff;}
#content button {width: 190px;
background: #B3E5FC;outline: none;
height: 80px;
font-size: 30px;margin-left: 50px;border-radius: 20px;}
.vic{position: absolute;
  top: 50%; left: 30%; 
  background: #afff6a;
   width: 80%; height:30% ;
   align-items: center;
}
video{
    width: 900px;height: 900px;
    position: absolute;
    top: 43%;
    left: 5%;
    background:#6200EA ;
}
p{position: absolute;
top: 32%;
font-size: 45px;
width: 100%;
color: #0000ff;left: 4%;
    
}
.by{position: absolute;
top: 37%;width: 150px;height: 80px;
background: #ff15e7;
border-radius: 10px; left: 3%;font-size: 40px;transition: 1.0s;padding: 10px 10px; 
color: floralwhite;
}
.by:focus{
    width: 170px;height: 80px;
    background: transparent;color: orange;
    padding: 10px 10px;
}
#fa{position: absolute;bottom: 0;
    width: 180px;height: 90px;
    font-size: 40px;background: #e3ff2b;border-radius: 30px;text-align: center;padding: 5px 5px;color: #000000;
    left: 4%;transition: 1.0s;
}
#fa:focus{width: 200px;
height: 100px;background:transparent ;
color: tomato;
}